body{
    padding: 0px;
    margin: 0px;

}

h2{
    color: #2B2D42;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

#left-panel{
    background-color: #F8F9FA;
    border-right: 5px solid #FADBD8;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-panel{
    background-color: #d1d6dc;
}

.btn{
    width: 80px;
    padding: 5px;
    color: white;
    background-color: #cf396b;
    border:none;
    border-radius: 10px;
}

dialog {
  color: #2B2D42;
  font-weight: bold;
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

dialog[open] {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

button, #submit-btn, #todo-submit-btn {
  width: 100px;
  height: 30px;
  background-color: #d34272; /* matches the Add button */
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover, #submit-btn:hover, #todo-submit-btn:hover{
  background-color: #b9305d; /* optional darker hover effect */
}

.form-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#form, #todo-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  margin-bottom: 5px;
}

.inputField{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
    border: 2px solid grey;
}

#form-legend{
    font-size: 20px;
}

.form-btns{
  display: flex;
  gap: 5px;
}