h3 {
  cursor: pointer;
  color: #b02e59;
}

h3:hover {
  color: #940d3a;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 20px;
  width: 50px;
}

.bin-icon, .add-icon {
    width: 15px;
    height: 15px;
    transition: transform 0.1s ease;
}

.bin-icon:hover,
.add-icon:hover {
    transform: scale(1.2);
}

.project-list{
    display: flex;
    flex-direction: column;

    margin-top: 5px;
}

.project{
    width: 200px;

    height: 25px;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project.selected {
  background-color: #f0f0f0; /* Or any highlight color */
  border-left: 4px solid #d62560;
}