h3 {
  cursor: pointer;
  color: #b02e59;
}

h3:hover {
  color: #940d3a;
}

.bin-icon{
    width: 10px;
    height: 10px;
}

.bin-icon:hover{
    width: 12px;
    height: 12px;
}

.project-list{
    display: flex;
    flex-direction: column;

    margin-top: 5px;
}

.project{
    width: 200px;

    height: 25px;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project.selected {
  background-color: #f0f0f0; /* Or any highlight color */
  border-left: 4px solid #d62560;
}